
    .main{
        background-color: black;
    
    }
    
    body{
        background: black;
    }
    
    * {
        box-sizing: border-box;
        margin: 0;
        padding: 0;
        font-family: 'Kumbh Sans' , sans-serif;
    }
    
    .main__container{
        display: grid;
        grid-template-columns: lfr lfr;
        align-items: center;
        justify-self: center;
        margin: 0 auto;
        height: 90vh;
        background-color: black;
        z-index: 1;
        width: 100%;
        max-width: 1300px;
        padding: 0 50px;
        background-image: url("./images/background4.jpg");
    }

    .main__container-2{
        display: grid;
        grid-template-columns: lfr lfr;
        align-items: center;
        justify-self: center;
        margin: 0 auto;
        height: 90vh;
        background-color: black;
        z-index: 1;
        width: 100%;
        max-width: 1300px;
        padding: 0 50px;
    }

    
    .main__content h1{
        font-size: 4rem;
        background-color:#ffff ;
        background-size: 100%;
        -webkit-background-clip: text;
        -moz-background-clip: text;
        -webkit-text-fill-color: transparent;
        -moz-text-fill-color: transparent;
        text-align: center;
    }
    
    .main__content h2{
        font-size: 2rem;
        background-color:#ffff ;
        background-size: 100%;
        -webkit-background-clip: text;
        -moz-background-clip: text;
        -webkit-text-fill-color: transparent;
        -moz-text-fill-color: transparent;
        text-align: center;
    }

    .main__content h3 {
        font-size: 1rem;
        background-color:#ffff ;
        background-size: 100%;
        -webkit-background-clip: text;
        -moz-background-clip: text;
        -webkit-text-fill-color: transparent;
        -moz-text-fill-color: transparent;
        text-align:left;
    }

    .main__content p {
        margin-top: 1rem;
        font-size: 2rem;
        font-weight: 700;
        background-color: white;    
    }

    .main__content h4 {
        font-size: 2rem;
        background-color:#ffff ;
        background-size: 100%;
        -webkit-background-clip: text;
        -moz-background-clip: text;
        -webkit-text-fill-color: transparent;
        -moz-text-fill-color: transparent;
        text-align:left;
    }

    .services {
    background: #131313;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    }


    .services__container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    }


    .services__card {
    margin: 1rem;
    height: 525px;
    width: 375px;
    border-radius: 4px;
    background-image: linear-gradient(
        to bottom,
        rgba(0, 0, 0, 0) 0%,
        rgba(17, 17, 17, 0.6) 100%
      ),
      url('images/earth.jpeg');
    background-size: cover;
    position: relative;
    color: #fff;
    }

    .small__card {
        margin: 1rem;
        border-radius: 4px;
        height: 425px;
        width: 250px;
        background-size: cover;
        position: relative;
        color: #fff;
        background-image: linear-gradient(
        to bottom,
        rgba(0, 0, 0, 0) 0%,
        rgba(17, 17, 17, 0.6) 100%
      ),
      url('images/earth.jpeg');
    }

    .services__card:before {
    opacity: 0.2;
    }

    .services__card-2{
    background-image: linear-gradient(
        to bottom,
        rgba(0, 0, 0, 0) 0%,
        rgba(17, 17, 17, 0.6) 100%
      ),
      url('/images/pillars_of_creation.jpg');
    }

    .services__card-3{
    background-image: linear-gradient(
        to bottom,
        rgba(0, 0, 0, 0) 0%,
        rgba(17, 17, 17, 0.6) 100%
      ),
      url('/images/supernova.jpg');
    }

    .services__card-4{
        height: 425px;
        width: 250px;
        background-image: url("/images/jupiter.jpg");
    }

    .services__card-5{
        height: 425px;
        width: 250px;
        background-image: url("/images/star.jpg");
    }

    .services__card-6{
        height: 425px;
        width: 250px;
        background-image: url("/images/sa.jpg");
    }

    .services__card-7{
        height: 425px;
        width: 250px;
        background-image: url("/images/galaxy.jpg");
    }

    .services__card-8{
        height: 425px;
        width: 250px;
        background-image: url("/images/ss.jpg");
    }

    .services__card-9{
        height: 425px;
        width: 250px;
        background-image: url("/images/moon.jpg");
    }

    .services__card-10{
        height: 425px;
        width: 250px;
        background-image: url("/images/astronaut.jpg");
    }

    .services__card-11{
        height: 425px;
        width: 250px;
        background-image: url("/images/sat.jpg");
    }

    .services__card-12{
        height: 425px;
        width: 250px;
        background-image: url("/images/telescope.jpg");
    }

    .services__card-13{
        height: 425px;
        width: 250px;
        background-image: url("/images/rovers.jpg");
    }

    .services__card-14{
        height: 425px;
        width: 250px;
        background-image: url("/images/station.jpg");
    }

    .services__card-15{
        height: 425px;
        width: 250px;
        background-image: url("/images/asteroid.png");
    }

    .services__card-16{
        height: 425px;
        width: 250px;
        background-image: url("/images/meteor.jpg");
    }

    .services__card-17{
        height: 425px;
        width: 250px;
        background-image: url("/images/comet.jpg");
    }

    .services__card h2 {
    position: absolute;
    top: 370px;
    left: 30px;
    height: 25px;

    }

    .services__card p {
        position: absolute;
        top: 400px;
        left: 30px;
    }

    .services__card h3 {
        position: relative; 
        color:white;
        font-weight: bold;
        font-size: 16px;
    }

    .services__card:hover {
    transform: scale(1.055);
    transition: 0.2s ease-in;
    cursor: pointer;
}

    .services__card-4:hover{
        transform: none;
        transition: none;
    }
    .services__card-5:hover{
        transform: none;
        transition: none;
    }
    .services__card-6:hover{
        transform: none;
        transition: none;
    }
    .services__card-7:hover{
        transform: none;
        transition: none;
    }
    .services__card-8:hover{
        transform: none;
        transition: none;
    }
    .services__card-9:hover{
        transform: none;
        transition: none;
    }
    .services__card-10:hover{
        transform: none;
        transition: none;
    }
    .services__card-11:hover{
        transform: none;
        transition: none;
    }
    .services__card-12:hover{
        transform: none;
        transition: none;
    }
    .services__card-13:hover{
        transform: none;
        transition: none;
    }
    .services__card-14:hover{
        transform: none;
        transition: none;
    }
    .services__card-15:hover{
        transform: none;
        transition: none;
    }
    .services__card-16:hover{
        transform: none;
        transition: none;
    }
    .services__card-17:hover{
        transform: none;
        transition: none;
    }

    select {
        width: 100%;
        padding: 8px 20px;
        border: 2px solid #5e72eb;
        border-radius: 4px;
        background-color: transparent;
        color: aliceblue;
        font-weight: bold;
    }

    select::placeholder {
        color: gray;
        font-weight: bold;
    }

    select:focus {
        color: #5e72eb;
    }

    input[type=text] {
        width: 100%;
        font-family: inherit;
        border: 0;
        border-bottom: 2px solid white;
        outline: 0;
        color: white;
        padding: 7px 0;
        background: transparent;
        font-size: .9rem;
        transition: border-color 0.2s;
        font-weight: bold;
    }
    

    input[type=text]::placeholder {
        color:gray;
    }

    input[type=text]:focus {
        border-bottom: 2px solid #5e72eb;
    }

    input[type=text]:hover {
        border: none;
        border-bottom: 2px solid #5e72eb;
    }

    input[type=submit] {
        position: relative;
        border-radius: 5px;
        top: 20px;
        background-color: #5e72eb;
        color:white;
        border: none;
        width: 100%;
        padding: 16px 32px;
        font-weight: bold;
    }

    input[type=submit]:hover {
        background-color: #120c6e;
    }


.navbar{
    background: #131313;
    height: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.2rem;
    top: 0;
    z-index: 999;
    }

    .navbar__container{
    display: flex;
    justify-content: space-between;
    height: 80px;
    z-index: 1;
    width: 100%;
    max-width: 1300px;
    margin: 0 auto;
    padding: 0 50px;    
    }

    .navbar__btn{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 1rem;
    width: 100%;
}

.button{
    display:flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    padding: 10px 20px;
    height: 100%;
    width: 100%;
    border: none;
    outline: none;
    border-radius: 4px;
    background: #5e72eb;
    color: white;
}

.button:hover{
    background: #120c6e;
    transition: all 0.3s ease;
}

.card-button {
    display:flex;
    position: relative;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    top: 100px;
    height: 50px;
    width: px;
    border: none;
    outline: none;
    border-radius: 4px;
    background: linear-gradient(to top, #120c6e 0%, #120c6e 100% );;
    color: white;
    font-weight: bold;
}

.card-button:hover{
    background: #0b0742;
    transition: all 0.3s ease;
}